@font-face {
  src: url("../fonts/Lato-Medium.ttf");
  font-family: Lato-Medium;
}

@font-face {
  src: url("../fonts/Lato-Regular.ttf");
  font-family: Lato-Regular;
}

@font-face {
  src: url("../fonts/Quicksand-Regular.otf");
  font-family: Quicksand-Regular;
}

@font-face {
  src: url("../fonts/Raleway-Black.ttf");
  font-family: Raleway-Black;
}

@font-face {
  src: url("../fonts/Raleway-Bold.ttf");
  font-family: Raleway-Bold;
}

@font-face {
  src: url("../fonts/Raleway-Light.ttf");
  font-family: Raleway-Light;
}

@font-face {
  src: url("../fonts/Raleway-Medium.ttf");
  font-family: Raleway-Medium;
}

@font-face {
  src: url("../fonts/Raleway-Regular.ttf");
  font-family: Raleway-Regular;
}

@font-face {
  src: url("../fonts/Roboto-Black.ttf");
  font-family: Roboto-Black;
}

@font-face {
  src: url("../fonts/Roboto-Regular.ttf");
  font-family: Roboto-Regular;
}

@font-face {
  src: url("../fonts/Roboto-Thin.ttf");
  font-family: Roboto-Thin;
}

body {
  padding: 0;
  margin: 0;
}

.full-width {
  width: 100%;
}

.ui-widget-content {
  border: none !important;
}

.login-form {
  z-index: 10;
  position: absolute;
  margin: auto;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

.login-form .card {
  margin: 0 auto;
  margin-top: 40px;
  width: 40%;
}

.login-form .card-header {
  background-color: #f2f2f2;
}

.login-form .card-header img {
  width: 60px;
  height: 60px;
  float: left;
}

.login-form .card-header h2 {
  float: left;
  padding: 5px;
  line-height: 25px;
  font-family: Raleway-Medium;
  font-size: 35px;
}

.login-form .card-header span {
  font-family: Raleway-Light;
  font-size: 20px;
}

.login-form h1, .login-form p, .login-form b {
  color: #333;
  font-family: Lato-Regular;
}

#sidebar {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 20;
  top: 0;
  left: 0;
  background-color: #323232;
  overflow-x: hidden;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  padding-top: 10px;
}

#sidebar .banner {
  padding-bottom: 10px;
  white-space: nowrap;
}

#sidebar .banner .logo {
  display: inline-block;
  padding-left: 3px;
  margin-top: 0;
}

#sidebar .banner .logo img {
  height: 50px;
  width: 50px;
}

#sidebar .banner .logo-name {
  font-family: Raleway-Bold;
  display: inline-block;
  padding-left: 3px;
}

#sidebar .banner .logo-name h3 {
  font-size: 35px;
}

#sidebar .closebtn {
  position: absolute;
  top: 0;
  right: 10px;
  font-size: 28px;
}

#sidebar .closebtn:hover {
  text-decoration: none;
}

#sidebar .Profile {
  overflow: hidden;
  white-space: nowrap;
  position: relative;
  margin-bottom: 20px;
  border-top: 1px solid #4b545c;
  border-bottom: 1px solid #4b545c;
  font-family: Raleway-Medium;
}

#sidebar .Profile .image {
  display: block;
}

#sidebar .Profile .image img {
  border: 2px solid #fff;
}

#sidebar .Profile .p-info {
  display: inline-block;
}

#sidebar .Profile .p-info h6 {
  font-size: 14px;
}

#sidebar .li-navs li a {
  margin-left: 5px;
  margin-right: 5px;
  white-space: nowrap;
  font-size: 15px;
}

#sidebar .li-navs li a:hover {
  background: -webkit-gradient(linear, left top, right top, from(#0f8a80), to(#11d45c));
  background: linear-gradient(to right, #0f8a80, #11d45c);
  border-radius: 8px;
}

#sidebar .custom-caret {
  font-size: 21px;
  float: right;
  right: 10px;
  margin-top: -5px;
  display: inline;
  position: absolute;
}

#myProfile .sub-nav, #myRequest .sub-nav {
  padding-left: 10px;
}

#sidebar.active {
  left: 0px;
}

.toggle-btn {
  position: absolute;
  left: 30px;
  top: 15px;
  cursor: pointer;
  z-index: 5;
}

.toggle-btn span {
  display: block;
  width: 23px;
  height: 3px;
  background-color: #fff;
  margin: 3px 0;
}

.btn-ess {
  background-color: #28a745;
  float: right;
  color: white;
  font-family: Lato-Regular;
}

.btn-ess:hover {
  background-color: #18722d;
  color: white;
}

.ess-navigation {
  padding: 8px;
  background: -webkit-gradient(linear, left top, right top, from(#0f8a80), to(#28a745));
  background: linear-gradient(to right, #0f8a80, #28a745);
  height: 60px;
}

.ess-navigation .nav-item {
  cursor: pointer;
}

.ess-navigation li {
  list-style-type: none;
}

.ess-navigation a {
  color: #000;
}

a:hover {
  text-decoration: none;
}

.overlay3 {
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.4);
  overflow-y: auto;
  overflow-x: hidden;
  text-align: center;
  -webkit-transition: opacity 1s;
  transition: opacity 1s;
  z-index: 10;
}

.container {
  margin: 0 auto;
  width: 80%;
  margin-bottom: 30px;
  z-index: 1;
}

.card {
  border: none !important;
  -webkit-box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
          box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
}

.dashboard {
  font-family: Lato-Regular;
}

.dashboard .card-header {
  line-height: 10px;
  color: #008040 !important;
  border-bottom-style: solid;
  border-bottom-color: #00994d;
  border-bottom-width: 2px;
}

.dashboard .card-body span {
  float: right;
}

.dashboard .card-body strong {
  color: #00994d;
}

.dashboard .announcement .card-header {
  background-color: transparent;
  color: #00994d !important;
  padding: 20px;
  border-bottom-style: solid;
  border-bottom-color: #00994d;
  border-bottom-width: 2px;
}

.dashboard .announcement .card-body {
  padding: 0;
}

.dashboard .announcement .card-body b {
  color: #00994d !important;
}

.dashboard .announcement .card-body .announcement-content {
  font-size: 14px;
}

#pds .row-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

#pds .row-flex .content {
  height: 100%;
}

#pds .gen-info .card-body {
  line-height: 27px;
}

#pds .gen-info .card-body span {
  float: right;
}

.payroll {
  font-family: Lato-Regular;
  padding: 2px !important;
}

.payroll .card-header {
  line-height: 10px;
  color: #008040 !important;
  border-bottom-style: solid;
  border-bottom-color: #00994d;
  border-bottom-width: 2px;
}

.payroll .card-body span {
  float: right;
}

.payroll th, .payroll tr, .payroll td {
  border: 1px solid #dee2e6;
}

#pds {
  white-space: nowrap;
}

#Schedule {
  font-family: Lato-Regular;
}

#Schedule .schedule-card .card-header {
  color: #008040 !important;
}

#Schedule .schedule-card .card-body {
  padding: 0;
}

#Schedule .schedule-card .card-body .day {
  color: #008040;
}

#Schedule .schedule-card .card-body .sched {
  float: right;
}

#Schedule th, #Schedule tr, #Schedule td {
  border: 1px solid #dee2e6;
}

.filter {
  display: inline;
  width: 20%;
  float: right;
}

.form-feedback-err, .form-feedback-success, .form-leave-err, .form-leave-success,
.form-ot-err, .form-ot-success, .form-reimburse-success, .form-reimburse-err,
.form-pds-err, .form-pds-success, .form-announcement-err, .form-announcement-success,
.form-message-err, .form-message-success, .form-cmMessage-success, .form-cmMessage-err,
.form-cmMessageReply-err, .form-cmMessageReply-success {
  display: none;
}

.dtr {
  font-family: Raleway-Medium;
}

.dtr table, .dtr th, .dtr td {
  border: 2px solid #d6d6c2;
}

.dtr table th {
  background-color: #00b359;
}

.dtr table tr:nth-child(odd) {
  background-color: #fff;
}

.request-leave, #overtime, #reimbursement {
  font-family: Lato-Regular;
}

.request-leave .card-header, #overtime .card-header, #reimbursement .card-header {
  color: #008040 !important;
  border-bottom-style: solid;
  border-bottom-color: #00994d;
  border-bottom-width: 2px;
  font-family: Raleway-Bold;
}

#ReplyModalForm #sendername {
  width: 70% !important;
  padding: 0 !important;
  border: none !important;
}

#myDiv {
  display: none;
  text-align: center;
}

@media screen and (max-width: 800px) {
  .login-form .card {
    width: 100%;
  }
}
/*# sourceMappingURL=style.css.map */