@import 'fonts';


body
{
    padding:0;
    margin:0;
    overflow-y:scroll;
}
.full-width
{
    width:100%;
}
.login-form
{
    
    margin:0 auto;
    margin-top:100px;
    width:50%;
}
#sidebar
{
    background-color:#343232;
    height:100vh;
    position:fixed;
    width:240px;


    .sidebar-head
        {   

            margin:5px;

        }
        
        img
        {
            height: 105px;
            width: 105px;
            float: left;
            padding:5px;
        }
        .active-link
        {
            background: linear-gradient(to right, #11998e, #38ef7d);
        }
        ul li
        {
            padding:10px;
            font-family: Raleway-Regular;
        }
        ul li a:hover
        {
            text-decoration: none;
        }
        .banner
        {
            h5{
                font-family:  Raleway-Bold;
                font-size: 36px;
            }
            img
            {
                height: 80px;
                width: 75px; 
            }
        } 
        h5
        {
            font-family: Raleway-Medium;
            display: inline;
        }
        .sidenav-dropdown
        {
            display: block;
        }

}

.ess-navigation
{
    padding:8px;
    background: linear-gradient(to right, #11998e, #38ef7d);
    margin-left:240px;
    height:70px;
    
    .btn-custom-c
    {
        background-color: #00b359;
        color: #fff;
        float: right;
        display: inline-block;
    }
}

//content
.content
{
    margin-left:250px;
}
.container
{
    margin:0 auto;
    width:80%;
    margin-left: 250px;
    margin-bottom: 30px;
}
.card
    {
        border: 1px solid #adad85!important;
    }
.employee-info
{
    margin:auto auto;
    .card-header
    {
        background-color: #00cc66;
        font-family: Raleway-Medium;
        font-size: 18px;
        
        button
        {
            background-color:#00994d;
            float: right;
            color: #fff;
            margin:0 5px;
        }
    }
    .card-body
    {
        padding:15px;
        line-height:30px;
        span
        {
            float:right;
            font-family: Raleway-Regular;
        }
        b
        {
            float: left;
            font-family: Lato-Medium;

        }

    }

}